* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  background-color: bisque;
}

nav {
  background-color: #f6b088;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 10px;
  position: sticky;
  top: 0;
}

.photo h3 {
  font-size: 24px;
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur(4px); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  margin: 10px;
  visibility: hidden;
}

.photo:hover h3{
    visibility: visible;
}

nav h1 {
  font-size: 36px;
  font-weight: 700;
}

.link {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: sticky;
  
}

.link a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
  padding: 10px;
}

.link a:hover {
  cursor: pointer;
  background-color: #f76b1c;
  border-radius: 15px;
}

main {
  margin: 20px auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.photo {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: zoom-in;
}

.photo img {
  width: 100%;
  border-radius: 5px;
}


footer {
    background-color: rgba(247, 107, 28, 0.5);
    color: black;
    text-align: center;
    padding: 20px;
  }